# Dependencias de Node.js
node_modules/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build.zip*


# Archivos de entorno
.env
.env.local
.env.*.local

# Directorios de construcción
dist/
build/

# Cachés de paquetes
.pnp.cjs
.pnp.js

# Caché de tests
coverage/

# Configuración local de IDEs/editores
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db